@import "open-props/style";
@import "open-props/normalize";

html {
    font-family: "Rubik Variable", system-ui, sans-serif;
    font-feature-settings: "tnum";
    font-optical-sizing: auto;
}

body {
    display: flex;
    flex-direction: column;
    gap: var(--size-fluid-5);
    height: 100%;
}

:is(input, button, a, select) {
    border-radius: var(--radius-2);
    width: fit-content;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
    font-family: "Comfortaa Variable", ui-rounded, sans-serif;
    white-space: unset;
    text-wrap: balance;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-6);
}

header span a {
    color: initial;
}

header div {
    display: flex;
    align-items: center;
}

svg {
    width: var(--size-7);
    height: fit-content;
}

svg g {
    fill: var(--text-1);
}

main,
footer {
    --page-max-width: 55ch;
    --page-padding: clamp(var(--size-fluid-2), 6vw, var(--size-fluid-3));
    --full: minmax(var(--page-padding), 1fr);
    --content: min(var(--page-max-width), 100% - var(--page-padding) * 2);
    --popout: minmax(0, 2rem);
    --feature: minmax(0, 5rem);
    display: grid;
    grid-template-columns: [full-start] var(--full) [feature-start] var(--feature) [popout-start] var(--popout) [content-start] var(--content) [content-end] var(--popout) [popout-end] var(--feature) [feature-end] var(--full) [full-end];
}

main>*,
article>*,
footer>* {
    grid-column: content;
}

main>*+* {
    margin-block-start: var(--size-fluid-5);
}

nav ul {
    list-style: none;
    display: flex;
    gap: var(--size-7);
    padding: var(--size-3);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}

span {
    scroll-margin: var(--size-5);
}

main>ul {
    display: flex;
    flex-direction: column;
    padding-block: var(--size-fluid-4) calc(var(--size-fluid-4) + 1ex);
    gap: var(--size-5);
}

main>ul>li:not(:last-of-type) {
    padding-bottom: var(--size-5);
    border-bottom: 1px solid var(--surface-4);
}

main>ul>li {
    display: flex;
    flex-direction: column;
    gap: var(--size-5);
}

main div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: var(--size-5);
}

ul {
    list-style-type: none;
}

footer {
    border-top: 2px dashed var(--surface-2);
    justify-items: center;
    margin-top: auto;
    padding-block: var(--size-5) calc(var(--size-5) + env(safe-area-inset-bottom));
}
