---
import Layout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
import ParsedTorahReadings from "../components/TorahReading.svelte";
const props = {
    title: "",
    description: "",
    image: "home",
};
---

<Layout {...props}>
    <!-- <nav>
        <ul>
            {
                displayTorahReadings.map((reading) => (
                    <li>
                        <Link href={`#week-${reading.week}`}>
                            Week {reading.week}
                        </Link>
                    </li>
                ))
            }
        </ul>
    </nav> -->
    <main>
        <h1>Weekly Scripture Reading</h1>
        <!-- {holidayReading ? <p>{holidayReading}</p> : <p>No holiday reading</p>} -->
        <article>
            <ParsedTorahReadings/>
        </article>
        <section>
            <p>
                Collected from <Link href="https://torahportions.ffoz.org/">
                    FFOZ
                </Link>, <Link
                    href="https://torahresource.com/resources/weekly-parashah/"
                >
                    Torah Resource
                </Link>, and the <Link href="https://tlvbiblesociety.org/">
                    Tree of Life Bible
                </Link>.
            </p>
        </section>
    </main>
</Layout>
